body{
    background-color: #800020;
    color: black;
}

h1{
    position: absolute;
    color: black;
    top: 30%;
    left: 80px;
}

.article{
    width: 500px;
    margin-top: 40px;
    margin-left: 0px;
    margin-bottom: 30px;
    border: 3px solid white;
    background-color: pink;
}

header{
    position: relative;
    background-color: orange;
    height: 200px;
}

footer{
    background-color: orange;
    height: 100px;
}

a{
    color: orange;
}
